@import "tailwindcss/base";

@import "tailwindcss/components";
 
@import "tailwindcss/utilities";

.g-main {
  display: inline-grid;
  grid-gap: 1px;
  padding: 1px;
  border: solid 1px #000000;
  margin: 0.5em;
}

.g-item {
  background-color: #4ac511;
  width: 1em;
  height: 1em;
}

.g-snake {
  background-color: #000;
}
.g-prize {
  background-color:#6b006b;
}
.g-crashed {
  background-color: #af0808;
}

.g-actions {
  padding: 0.5em;
}

.app-wrap {
  display: inline-grid;
}
